<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Couples Therapy">
    <meta name="keywords" content="Couples Therapy, Therapy, Couples, band, music">
    <meta name="author" content="Couples Therapy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title | default: "Couples Therapy" }}</title>
</head>
<body>
    <h1>Couples Therapy</h1>
    <p>Under construction... 🚧</p>
    <main>
        {{ content }}
    </main>
</body>
</html>