# Build artefacts
/public

# Dependency directories
/node_modules

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Visual Studio Code
/.vscode
.history

# MacOS related files
.DS_Store

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
